@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=STIX+Two+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body, p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: 'STIX Two Text', serif;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

a {
	cursor: pointer;
}

/* Layout */
body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
}

.content-full {
	height: 100vh;
	width: 100vw;
}

.content {
	width: 66vw;
	max-width: 37em;
	margin: auto;
}

.content li {
	margin-bottom: 1em;
}

.content ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.content p {
	margin-top: 1em;
}

.blog-heading {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0.5em;
	margin-top: 3em;
}

.blog-heading > h2 {
	letter-spacing: 0.05em;
}

.blog-heading a {
	color: black;
	text-decoration: none;
}

.blog-preview {
	max-height: 5em;
	overflow: hidden;
	text-overflow: ellipsis;
	content: '';
	position: relative;
	margin-bottom: 0.5em;
}

.blog-continue {
	text-align: right;
	margin-right: 1em;
}

footer {
	font-size: 0.9em;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
}

footer a {
	color: black;
}

footer a:visited {
	color: black;
}
/* End Layout */


h1, h2, h3, h4, h5, h6 {
	/*   font-family: 'Noto Sans JP', sans-serif */
	font-family: 'STIX Two Text', serif;
	font-weight: normal;
}

h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.25em;
}

h2 {
	font-size: 1.75em;
}

.banner {
	padding-top: 3em;
	text-align: center;
}

.banner h1 {
	margin-bottom: 1em;
	/* font-family: 'Noto Sans JP', sans-serif; */
	font-weight: normal;
	letter-spacing: 0.05em;
}

.error-nav {
	letter-spacing: 0.1em;
}

.nav {
	letter-spacing: 0.1em;
	font-family: 'STIX Two Text';
	font-weight: normal;
	font-size: 2.25em;
}

/* Utility */
.text-center {
	text-align: center;
}

.mx-2 {
	margin-left: 2em;
	margin-right: 2em;
}

.my-1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.mt-2 {
	margin-top: 2em;
}

.pt-2 {
	padding-top: 2em;
}

.p-0 {
	padding: 0;
}

/************/

.hover-hl {
	padding: 0 2px;
	padding-bottom: 2px;
	text-decoration: none;
	color: black;

	background-image: linear-gradient(to bottom, #f27121 0%, #f27121 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 1px 1px;
	transition: background-size 0.2s ease-in-out;
}

.hover-hl:hover {
	background-size: 4px 15px;
}
.hover-hl:visited {
	color: black;
	text-decoration: none;
}

.intro {
	padding-top: 1em;
	font-family: 'STIX Two Text', sans-serif;
	font-size: 3em;
}

.intro h1 {
	font-size: 2em;
	font-family: 'STIX Two Text', sans-serif;
	font-weight: normal;
}

.intro p {
	font-size: 0.75em;
}

/* Desktop layout */
#about img {
	height: 100%;
	max-width: 50%;
	object-fit: contain;
}

#bio {
	padding: 2em 0;
	font-size: 1.1em;
	max-width: calc(45em - 2em);
}

#about {
	width: calc(100vw - 2em);
	height: 100vh;
	display: flex;
	flex-direction: row;
	gap: 2em;
	padding-right: 2em;
}

#version-info {
	position: relative;
	display: flex;
	justify-content: right;
	gap: 1em;
	letter-spacing: 0.05em;
}

#version-info > span {
	position: absolute;
	bottom: 0;
	white-space: pre;
}
