<footer class="mx-2">
	<div id="contact">
		<div>Dytrich Nguyen</div>
		<div>
			<a href="mailto:me@dytrich-nguyen.com">me@dytrich-nguyen.com</a></div>
		<div>
			<a href="#">@definitelydytrich</a>
		</div>
	</div>
	<div id="version-info">
		{{! this span has white-space: pre so leave formatted as-is }}
		<span>v0.1.0-indev	<a href="#">changelog</a></span>
	</div>
</footer>
