<!doctype html>
<html>
	<head>
		<title>Dytrich Nguyen - {{ title }}</title>
		<link rel="stylesheet" href="/static/main.css">
	</head>
	<body>
		<div id="main">
			<div id="nav" class="nav text-center my-1">
				{{~> nav}}
			</div>
			<div id="content" class="content">
				{{~> page}}
			</div>
		</div>
		{{> footer}}
	</body>
</html>
