{{#*inline "page"}}
<div>
	<h1>No Posts Yet!</h1>
	<p>
	Hi! If you're seeing this, then you've gotten here early enough that I don't have any posts up!
	Check back soon for tutorials and thoughts on music, code, and more!
	</p>
</div>
{{/inline}}
{{~> (parent)~}}
