<!doctype html>
<html>
	<head>
		<title>Dytrich Nguyen - {{ title }}</title>
		<link rel="stylesheet" href="http://localhost:8000/static/main.css">
	</head>
	<body>
		<div id="content" class="content-full">
			<div class="banner">
				<h1>404 not found.</h1>
				<h2 class="nav">
					<a class="hover-hl" href="https://dytrich-nguyen.com">About</a> /
					<a class="hover-hl" href="/">Blog</a>
			</div>
		</div>
		<div id="footer" class="footer">
			{{> footer}}
		</div>
	</body>
</html>
