{{#*inline "head"}}
<link rel="stylesheet" href="/static/tipjar.css">
<script src="https://js.stripe.com/v3/"></script>
<script type="module" src="/static/tipjar.js"></script>
{{/inline}}

{{#*inline "page"}}
<div vscope>
	<h1>Tip Jar</h1>
	<form id="payment-form" @submit="submit" data-secret="{{ client_secret }}">
		<div id="tipjar-container">
			<h2>Amount</h2>
			<div id="tip-amount">
				<div id="tip-opt">
					<div>
						<input type="radio" value="1" v-model="tipAmount">
						<label for="one_usd">$1.00</label>
					</div>
					<div>
						<input type="radio" value="2" v-model="tipAmount">
						<label for="one_usd">$2.00</label>
					</div>
					<div>
						<input type="radio" value="5" v-model="tipAmount">
						<label for="one_usd">$5.00</label>
					</div>

					<div>
						<input type="radio" value="-1" v-model="tipAmount">
						<label for="custom_amount">Custom Amount</label>
					</div>

				</div>
				<div v-if="tipAmount == -1">
					<div id="custom-amount">
						<span id="currency">$</span><input id="amount" v-model="customAmount" @blur="validateAmount" />
					</div>
					<div v-if="tipAmntErr" class="input-error">
						Invalid amount. Please format as a dollar amount.
					</div>
				</div>
			</div>
			<div>
				<div>
					<label for="message">Message (optional):</label>
				</div>
				<div>
					<textarea id="message"></textarea>
				</div>
				<div id="contrib-checkbox">
					<input name="contrib-opt-out" type="checkbox" />
					<label for="contrib-opt-out">I would like my contribution to be <b>anonymised</b>.</label>
				</div>
			</div>
			<h2>Payment Details</h2>
			<div>
				<label for="email">Email</label>
				<input name="email" type="text" placeholder="your@email.com" />
			</div>

			<div>
				<label for="cardholder-name">Cardholder Name</label>
				<input name="cardholder-name" type="text" placeholder="Your Name" />
			</div>
			<div id="payment-element">
			</div>
			<div id="error-message">
			</div>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>
{{/inline}}

{{~> (parent)~}}
