{{#*inline "page"}}
<div>
	<h1>Thanks!</h1>
	<p>
	Thanks so much for your tip! Most of my content is hosted for
	free, without ads; supporters like <b>you</b> make that possible!
	</p>
</div>
{{/inline}}
{{~> (parent)~}}
